<h1 class=" mb-4 p-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-4xl dark:text-white">Please Enter Your Email</h1>
<form action="" [formGroup]="forgetForm">
<div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
        <input type="email"
        formControlName="email"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
    @if (forgetForm.get('email')?.touched && forgetForm.get('email')?.hasError('required')) {
        <div class="p-4 mb-4 my-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium"> Please Write Email </span>
        </div>
    }

    @if (forgetForm.get('email')?.touched && forgetForm.get('email')?.hasError('email')) {
        <div class="p-4 mb-4 my-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium"> Please Write Correct Email </span>
        </div>
    }
    <button type="submit"
    (click)="forget(forgetForm)"
    class="mt-2 btn text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:border-main font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:border-main">Verify</button>
    </div>
</form>